.avatar{
    width: 40px;
    margin-bottom: 0.5em;
    border-radius: 900px;
}

.card-header{
    display: flex;
    flex-flow: row;
    justify-content: left;
}

.data-user{
    line-height: 45px;
    margin-left: 1em;
}

.pub_image{
    margin-bottom: 2vh;
}

.image-container{
    width:100%;
    max-height: 500px;
    overflow: hidden;
}
.image-container img{
    width: 100%;

}

.pub_image .card-body{
    padding: 0px;
}

.comments{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
}

.nickname{
    color:gray;
}
 .pub_image .description{
     padding: 20px;
     padding-bottom: 0;
     padding-top: 0;
 }

.likes img{
    width: 20px;

}

.likes{
    padding: 20px;
    padding-bottom: 0;
    padding-top: 0px;
}

 .btn-comments{
     margin: 20px;
     margin-top: 0;
 }
 .content-description{
     display: flex;
     flex-flow: row;
     justify-content: space-between;
 }

 .created-at{
     color: gray;
     font-size: 8pt;
 }

 .btn-warning{
     background-color: #1d68a7;
     color: white;
 }

 .form-comments{
     padding: 20px;
 }

 .h2-comments{
     margin-left: 20px;
 }
 hr{
     margin-top: -20px;
 }

 .form-comments{
     margin-bottom: 3vh;
 }
